{% extends 'post-login-template.html' %}
{% load static %}
{% block content %}
    <section class="col-md-12">
        <div class="col-md-10" style="margin-left: 8%;">
            <h3 class="p_head"></h3>
            <ul class="transaction-record-table">
                <li class="transaction-record-table-headers">
                    <div class="trans-id">
                        SL. No.
                    </div>
                    <div class="trans-prod">
                        Product
                    </div>
                    <div class="trans-sales-person">
                        Sales Person
                    </div>
                    <div class="trans-customer">
                        Customer
                    </div>
                    <div class="trans-cost">
                        Cost
                    </div>
                    <div class="trans-timestamp">
                        Timestamp
                    </div>
                </li>
                <div id="transaction-table-rows">

                </div>
            </ul>

            <div class="to_separate">
                <label for="total-sales" id="total-sales">Total Sales:
                    <button type="submit" class="btn btn_add" id="total-sales-calculate-button">Calculate</button>
                </label>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '/api/GetAllTransactions/',
                type: 'GET',
                dataTpe: 'application/json',
                data: {format: 'json'},
                success: function (response) {
                    var transactions = response;
                    var transactionRecordHTML = "";
                    for (var transactionIndex = 0; transactionIndex < transactions.length; transactionIndex++) {
                        var transaction = transactions[transactionIndex];
                        transactionRecordHTML = transactionRecordHTML + "<li class='product-record-item' >";
                        transactionRecordHTML = transactionRecordHTML + "<div class='trans-id' id='record-" + (transactionIndex + 1) + "-trans-id'>";
                        transactionRecordHTML = transactionRecordHTML + transaction.trans_id.toString();
                        transactionRecordHTML = transactionRecordHTML + "</div>";
                        transactionRecordHTML = transactionRecordHTML + "<div class='trans-prod' id='record-" + (transactionIndex + 1) + "-trans-prod'>";
                        transactionRecordHTML = transactionRecordHTML + transaction.product.toString();
                        transactionRecordHTML = transactionRecordHTML + "</div>";
                        transactionRecordHTML = transactionRecordHTML + "<div class='trans-sales-person' id='record-" + (transactionIndex + 1) + "-trans-sales-person'>";
                        transactionRecordHTML = transactionRecordHTML + transaction.sales_person.toString();
                        transactionRecordHTML = transactionRecordHTML + "</div>";
                        transactionRecordHTML = transactionRecordHTML + "<div class='trans-customer' id='record-" + (transactionIndex + 1) + "-trans-customer'>";
                        transactionRecordHTML = transactionRecordHTML + transaction.customer.toString();
                        transactionRecordHTML = transactionRecordHTML + "</div>";
                        transactionRecordHTML = transactionRecordHTML + "<div class='trans-cost' id='record-" + (transactionIndex + 1) + "-trans-cost'>";
                        transactionRecordHTML = transactionRecordHTML + transaction.cost.toString();
                        transactionRecordHTML = transactionRecordHTML + "</div>";
                        transactionRecordHTML = transactionRecordHTML + "<div class='trans-timestamp' id='record-" + (transactionIndex + 1) + "-trans-timestamp'>";
                        transactionRecordHTML = transactionRecordHTML + transaction.transaction_time.toString();
                        transactionRecordHTML = transactionRecordHTML + "</div>";
                        transactionRecordHTML = transactionRecordHTML + "</li>";
                    }
                    $('#transaction-table-rows').html(transactionRecordHTML);
                }
            });
        });
        $('#total-sales-calculate-button').click(function () {
            var records = $('#transaction-table-rows').children('li').length;
            if (records >= 1) {
                var total = 0;
                for (var i = 1; i <= records; i++) {
                    var rawCost = $('#record-' + i + '-trans-cost').html();
                    total = total + parseFloat(rawCost);
                }

                var totalSalesObject = $('#total-sales');
                var totalSalesHTML = "Total Sales: &#8377; " + total.toFixed(2).toString();
                totalSalesObject.html(totalSalesHTML);
            }
        })
    </script>
{% endblock %}